@page "/launchpad"
@inject NavigationManager NavigationManager

<PageTitle>Launchpad</PageTitle>

<h1 style="text-align: center;">Launchpad</h1>

<br>

<h3 style="text-align: center;">Welcome: @username</h3>


<div class="button-div">
    <button class="btn btn-success" onclick="@(() => NavigationManager.NavigateTo("/todocreator"))">Create To-Do</button>

    <button class="btn btn-warning" onclick="@(() => NavigationManager.NavigateTo("todolistview"))">Show To-Do's</button>

</div>


@code{
    string username = "Invalid!";

    
}