@page "/todocreator"
@inject ToDoService ToDoService

<PageTitle>To-Do Creator</PageTitle>

<h1 style="text-align: center;">To Do Creator</h1>


<EditForm Model="newTodo" OnValidSubmit="submitToDo">



    <label>To-Do Name:</label>

        <InputText @bind-Value="newTodo.Name"/>
        <br>
        <label>To-Do Due Date:</label>
        <InputDate @bind-Value="newTodo.dateTime" />
        <br>
        <label>Task Completed?: </label>
        
        <InputCheckbox @bind-Value="newTodo.IsCompleted" />
        <br>
        <InputTextArea @bind-Value="newTodo.Notes" />
        <br>
    

    <button class="btn btn-success">Add To Do</button>
</EditForm>



@code{
    ToDo newTodo = new ToDo{
        dateTime = DateTime.UtcNow,
        IsCompleted = false,
    };

    public async Task submitToDo()
    {
        newTodo.dateTime = DateTime.SpecifyKind(newTodo.dateTime, DateTimeKind.Local).ToUniversalTime();

        await ToDoService.CreateToDo(newTodo);
    }
}