@page "/todocreator"
@inject ToDoService ToDoService

<PageTitle>To-Do Creator</PageTitle>

<h1 style="text-align: center;">To Do Creator</h1>


<EditForm Model="newTodo" OnValidSubmit="submitToDo">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <label>To-Do Name:</label>

        <InputText @bind-Value="newTodo.Name"/>
        <br>
        <label>To-Do Due Date:</label>
        <InputDate @bind-Value="newTodo.dateTime" />
        <br>
        <InputTextArea @bind-Value="newTodo.Notes" />
        <br>
    

    <button class="btn btn-success">Add To Do</button>
</EditForm>



@code{
    ToDo newTodo = new ToDo{
        dateTime = DateOnly.FromDateTime(DateTime.UtcNow),
        IsCompleted = false,
    };

    public async Task submitToDo()
    {

        await ToDoService.CreateToDo(newTodo);
    }
}